body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
  }
  footer {
  text-align: center;
    background-color: teal;
    padding: 1rem;
  }
  
  .cor {
    color: green;
    padding: 10px;
    border: 5px solid black;
  }
  
  h1 {
    text-align: center;
  }
  
  .clube h2 {
    text-align: center;
  }
  
  .clube {
    margin-bottom: 20px;
  }
          
  .clube img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
  }