body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .highlight {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
  }
  
  footer {
    background-color:RoyalBlue;
    font-size: 28px;
    text-align: center;
    padding: 1rem;
  }
