body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  background-image: linear-gradient(to bottom, #4FFFDC,#3FCCB0,#3D8577);
  background-attachment: fixed;
    }
    
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 100px;
    }
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 112px
      
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    
    .message {
      margin-top: 20px;
      text-align: center;
    }
