* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: MintCream;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

:root {
  --cor-fundo: rgb(34, 41, 37);
  --cor-hover: rgb(118, 180, 145);
  --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;

}

.dp-menu ul {
  background-color: var(--cor-fundo);

}

.dp-menu ul li {
  display: inline;
  position: relative;

}

.dp-menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;

}

.dp-menu ul li a:hover {
  background-color: var(--cor-hover);
}

.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  width: 150px;
}

.dp-menu ul ul li a {
  display: block;
}

article {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 13px
}

article img {
  width: 99%;
  margin-bottom: 1rem;
  padding: 21px;
}

article p {
 display: block;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  padding: 13px;
}

article a:hover {
  color: #ccc;
}

footer {
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h2 {
  color: green;
}

.imagem {
  width: 800px;
  height: 800px;
  margin-left: 520px;
}
