body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
  }
          
  h1 {
    text-align: center;
  }
          
  .clube {
    margin-bottom: 20px;
  }
          
  .clube img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
          
  .clube h2 {
    text-align: center;
  }